<align type="ct"></align>
<font-type type="a"></font-type>
<font-style type="bu"></font-style>
<font-size height="1" width="1"></font-size>
<text>sabes que si</text>
<feed number="4"></feed>
<text>asdsad asdasd asdasdd</text>
<text>asdsad asdasd asdasdd</text>
<text>asdsad asdasd asdasdd</text>
<barcode>1232423</barcode>
<image type="name"></image>

<font-type type="b"></font-type>
<text>fuente tipo B</text>
<font-size height=1 widht=1></font-size>
<text>text 1 1</text>
<font-size height=1 widht=2></font-size>
<text>text 1 2</text>
<font-size height=2 widht=1></font-size>
<text>text 2 1</text>
<font-size height=2 widht=2></font-size>
<text>text 2 2</text>
<align type="ct"></align>
<text>alineacion centro</text>
<align type="rt"></align>
<text>alineacion derecho</text>
<align type="lt"></align>
<text>alineacion izquierda</text>
<font-type type="a"></font-type>
<text>fuente tipo A</text>
<font-type type="b"></font-type>
<text>fuente tipo B</text>
<font-style type="B"></font-style>
<text>fuente style B</text>
<font-style type="I"></font-style>
<text>fuente style I</text>
<feed number="4"></feed>
<barcode type="EAN8">1232423</barcode>
<feed number="4"></feed>
<barcode>1232423</barcode>
<image type="name"></image>


<feed number="4"></feed>
<barcode type="EAN8">1232423</barcode>
<feed number="4"></feed>
<barcode type="UPC_A">1232423</barcode>
<feed number="4"></feed>
<barcode type="UPC_E">1232423</barcode>
<feed number="4"></feed>
<barcode type="EAN13">123456789111</barcode>
<feed number="4"></feed>
<barcode type="CODE39">1232423</barcode>
<feed number="4"></feed>
<barcode type="ITF">1232423</barcode>
<feed number="4"></feed>
<barcode type="NW7">1232423</barcode>
<feed number="4"></feed>
<barcode type="CODE93">1232423</barcode>
<feed number="4"></feed>
<barcode type="CODE128">1232423</barcode>
<feed number="4"></feed>


<font-type type="A"></font-type>
<font-style type="NORMAL"></font-style>
<text>fuente tipo NORMAL</text>
<font-style type="BU"></font-style>
<text>fuente tipo BU</text>
<font-style type="B"></font-style>
<text>fuente tipo B</text>
<font-style type="I"></font-style>
<text>fuente tipo I</text>
<font-style type="U"></font-style>
<text>fuente tipo U</text>
<font-style type="U2"></font-style>
<text>fuente tipo U2</text>
<font-style type="BI"></font-style>
<text>fuente tipo BI</text>
<font-style type="BIU"></font-style>
<text>fuente tipo BIU</text>
<font-style type="BIU2"></font-style>
<text>fuente tipo BIU2</text>
<font-style type="BU2"></font-style>
<text>fuente tipo BU2</text>
<font-style type="IU2"></font-style>
<text>fuente tipo IU2</text>
<font-type type="B"></font-type>
<font-style type="NORMAL"></font-style>
<text>fuente tipo NORMAL</text>
<font-style type="BU"></font-style>
<text>fuente tipo BU</text>
<font-style type="B"></font-style>
<text>fuente tipo B</text>
<font-style type="I"></font-style>
<text>fuente tipo I</text>
<font-style type="U"></font-style>
<text>fuente tipo U</text>
<font-style type="U2"></font-style>
<text>fuente tipo U2</text>
<font-style type="BI"></font-style>
<text>fuente tipo BI</text>
<font-style type="BIU"></font-style>
<text>fuente tipo BIU</text>
<font-style type="BIU2"></font-style>
<text>fuente tipo BIU2</text>
<font-style type="BU2"></font-style>
<text>fuente tipo BU2</text>
<font-style type="IU2"></font-style>
<text>fuente tipo IU2</text>
<feed number="4"></feed>